---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q414&sites=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=152106 t=1490302750857946
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.3.29
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q414":{"pageid":625,"ns":0,"title":"Q414","lastrevid":468867152,"modified":"2017-03-21T04:18:58Z","type":"item","id":"Q414","labels":{"en":{"language":"en","value":"Argentina"},"de":{"language":"de","value":"Argentinien"},"fr":{"language":"fr","value":"Argentine"},"nb":{"language":"nb","value":"Argentina"},"es":{"language":"es","value":"Argentina"},"be-tarask":{"language":"be-tarask","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u044b\u043d\u0430"},"sgs":{"language":"sgs","value":"Argent\u0117na"},"rup":{"language":"rup","value":"Arghentina"},"nan":{"language":"nan","value":"Argentina"},"vro":{"language":"vro","value":"Argentina"},"cbk-zam":{"language":"cbk-zam","value":"Argentina"},"roa-tara":{"language":"roa-tara","value":"Argendine"},"yue":{"language":"yue","value":"\u963f\u6839\u5ef7"},"lzh":{"language":"lzh","value":"\u963f\u6839\u5ef7"},"nds-nl":{"language":"nds-nl","value":"Argentini\u00eb"},"mk":{"language":"mk","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"nl":{"language":"nl","value":"Argentini\u00eb"},"it":{"language":"it","value":"Argentina"},"ca":{"language":"ca","value":"Argentina"},"pt":{"language":"pt","value":"Argentina"},"sw":{"language":"sw","value":"Argentina"},"pl":{"language":"pl","value":"Argentyna"},"ace":{"language":"ace","value":"Argentina"},"af":{"language":"af","value":"Argentini\u00eb"},"am":{"language":"am","value":"\u12a0\u122d\u1300\u1295\u1272\u1293"},"an":{"language":"an","value":"Archentina"},"ang":{"language":"ang","value":"Argentina"},"ar":{"language":"ar","value":"\u0627\u0644\u0623\u0631\u062c\u0646\u062a\u064a\u0646"},"arz":{"language":"arz","value":"\u0627\u0631\u062c\u0646\u062a\u064a\u0646"},"ast":{"language":"ast","value":"Arxentina"},"ay":{"language":"ay","value":"Arxintina"},"az":{"language":"az","value":"Argentina"},"ba":{"language":"ba","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"bar":{"language":"bar","value":"Argentinien"},"bcl":{"language":"bcl","value":"Argentina"},"be":{"language":"be","value":"\u0410\u0440\u0433\u0435\u043d\u0446\u0456\u043d\u0430"},"bg":{"language":"bg","value":"\u0410\u0440\u0436\u0435\u043d\u0442\u0438\u043d\u0430"},"bi":{"language":"bi","value":"Argentina"},"bm":{"language":"bm","value":"Argentina"},"bn":{"language":"bn","value":"\u0986\u09b0\u09cd\u099c\u09c7\u09a8\u09cd\u099f\u09bf\u09a8\u09be"},"bo":{"language":"bo","value":"\u0f68\u0f62\u0f0b\u0f47\u0f7a\u0f53\u0f0b\u0f4a\u0f72\u0f0b\u0f53\u0f0d"},"bpy":{"language":"bpy","value":"\u0986\u09b0\u09cd\u099c\u09c7\u09a8\u09cd\u099f\u09bf\u09a8\u09be"},"br":{"language":"br","value":"Arc''hantina"},"bs":{"language":"bs","value":"Argentina"},"bxr":{"language":"bxr","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d"},"ce":{"language":"ce","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"ceb":{"language":"ceb","value":"Arhentina"},"ckb":{"language":"ckb","value":"\u0626\u0627\u0631\u062c\u06d5\u0646\u062a\u06cc\u0646"},"co":{"language":"co","value":"Argentina"},"cs":{"language":"cs","value":"Argentina"},"cv":{"language":"cv","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"cy":{"language":"cy","value":"Yr
        Ariannin"},"da":{"language":"da","value":"Argentina"},"diq":{"language":"diq","value":"Arcantin"},"dsb":{"language":"dsb","value":"Argentinska"},"dv":{"language":"dv","value":"\u0787\u07a7\u0796\u07ac\u0782\u07b0\u0793\u07a9\u0782\u07a7"},"dz":{"language":"dz","value":"\u0f68\u0f62\u0f0b\u0f47\u0f7a\u0f53\u0f0b\u0f4a\u0f72\u0f0b\u0f53\u0f0b"},"ee":{"language":"ee","value":"Argentina"},"el":{"language":"el","value":"\u0391\u03c1\u03b3\u03b5\u03bd\u03c4\u03b9\u03bd\u03ae"},"eo":{"language":"eo","value":"Argentino"},"et":{"language":"et","value":"Argentina"},"eu":{"language":"eu","value":"Argentina"},"ext":{"language":"ext","value":"Argentina"},"fa":{"language":"fa","value":"\u0622\u0631\u0698\u0627\u0646\u062a\u06cc\u0646"},"fi":{"language":"fi","value":"Argentiina"},"fo":{"language":"fo","value":"Argentina"},"frp":{"language":"frp","value":"Argentena"},"frr":{"language":"frr","value":"Argentiinien"},"fur":{"language":"fur","value":"Argjentine"},"fy":{"language":"fy","value":"Argentynje"},"ga":{"language":"ga","value":"An
        Airgint\u00edn"},"gag":{"language":"gag","value":"Argentina"},"gan":{"language":"gan","value":"\u963f\u6839\u5ef7"},"gd":{"language":"gd","value":"An
        Argantain"},"gl":{"language":"gl","value":"Arxentina"},"gn":{"language":"gn","value":"Argentina"},"gu":{"language":"gu","value":"\u0a86\u0ab0\u0acd\u0a9c\u0ac7\u0aa8\u0acd\u0a9f\u0ac0\u0aa8\u0abe"},"gv":{"language":"gv","value":"Yn
        Argenteen"},"hak":{"language":"hak","value":"\u00c2-k\u00een-th\u00ecn"},"haw":{"language":"haw","value":"\u2018Alekina"},"he":{"language":"he","value":"\u05d0\u05e8\u05d2\u05e0\u05d8\u05d9\u05e0\u05d4"},"hi":{"language":"hi","value":"\u0905\u0930\u094d\u091c\u0947\u0923\u094d\u091f\u0940\u0928\u093e"},"hif":{"language":"hif","value":"Argentina"},"hr":{"language":"hr","value":"Argentina"},"hsb":{"language":"hsb","value":"Argentinska"},"ht":{"language":"ht","value":"Ajantin"},"hu":{"language":"hu","value":"Argent\u00edna"},"hy":{"language":"hy","value":"\u0531\u0580\u0563\u0565\u0576\u057f\u056b\u0576\u0561"},"ia":{"language":"ia","value":"Argentina"},"id":{"language":"id","value":"Argentina"},"ie":{"language":"ie","value":"Argentina"},"ilo":{"language":"ilo","value":"Arhentina"},"io":{"language":"io","value":"Arjentinia"},"is":{"language":"is","value":"Argent\u00edna"},"ja":{"language":"ja","value":"\u30a2\u30eb\u30bc\u30f3\u30c1\u30f3"},"jbo":{"language":"jbo","value":"getygu''e"},"jv":{"language":"jv","value":"Argentina"},"ka":{"language":"ka","value":"\u10d0\u10e0\u10d2\u10d4\u10dc\u10e2\u10d8\u10dc\u10d0"},"kaa":{"language":"kaa","value":"Argentina"},"kbd":{"language":"kbd","value":"\u0410\u0440\u0445\u0435\u043d\u0442\u0438\u043d\u044d"},"kk":{"language":"kk","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"kl":{"language":"kl","value":"Argentina"},"kn":{"language":"kn","value":"\u0c85\u0cb0\u0ccd\u0c9c\u0cc6\u0c82\u0c9f\u0cc0\u0ca8"},"ko":{"language":"ko","value":"\uc544\ub974\ud5e8\ud2f0\ub098"},"krc":{"language":"krc","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"ku":{"language":"ku","value":"Arjent\u00een"},"kv":{"language":"kv","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"kw":{"language":"kw","value":"Arghantina"},"ky":{"language":"ky","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"la":{"language":"la","value":"Argentina"},"lad":{"language":"lad","value":"Arjentina"},"lb":{"language":"lb","value":"Argentinien"},"lez":{"language":"lez","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"li":{"language":"li","value":"Argentini\u00eb"},"lij":{"language":"lij","value":"Argentinn-a"},"lmo":{"language":"lmo","value":"Argentina"},"ln":{"language":"ln","value":"Argentina"},"lo":{"language":"lo","value":"\u0ead\u0eb2\u0e81\u0e8a\u0eb1\u0e87\u0e95\u0eb5\u0e99"},"lt":{"language":"lt","value":"Argentina"},"ltg":{"language":"ltg","value":"Arge\u0146tina"},"lv":{"language":"lv","value":"Argent\u012bna"},"mg":{"language":"mg","value":"Arjentina"},"mhr":{"language":"mhr","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"mi":{"language":"mi","value":"\u0100ketina"},"ml":{"language":"ml","value":"\u0d05\u0d7c\u0d1c\u0d28\u0d4d\u0d31\u0d40\u0d28"},"mn":{"language":"mn","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d"},"mr":{"language":"mr","value":"\u0906\u0930\u094d\u091c\u0947\u0928\u094d\u091f\u093f\u0928\u093e"},"mrj":{"language":"mrj","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"ms":{"language":"ms","value":"Argentina"},"mwl":{"language":"mwl","value":"Argentina"},"my":{"language":"my","value":"\u1021\u102c\u1002\u103b\u1004\u103a\u1010\u102e\u1038\u1014\u102c\u1038\u1014\u102d\u102f\u1004\u103a\u1004\u1036"},"na":{"language":"na","value":"Ardjentina"},"nah":{"language":"nah","value":"Argentina"},"nap":{"language":"nap","value":"Argentina"},"nds":{"language":"nds","value":"Argentinien"},"ne":{"language":"ne","value":"\u0905\u0930\u094d\u091c\u0947\u0928\u094d\u091f\u093f\u0928\u093e"},"nn":{"language":"nn","value":"Argentina"},"nov":{"language":"nov","value":"Argentina"},"nv":{"language":"nv","value":"B\u00e9\u00e9sh
        \u0141igaii Bik\u00e9yah"},"oc":{"language":"oc","value":"Argentina"},"or":{"language":"or","value":"\u0b06\u0b30\u0b4d\u0b1c\u0b47\u0b23\u0b4d\u0b1f\u0b3f\u0b28\u0b3e"},"os":{"language":"os","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u00e6"},"pa":{"language":"pa","value":"\u0a05\u0a30\u0a1c\u0a28\u0a1f\u0a40\u0a28\u0a3e"},"pag":{"language":"pag","value":"Argentina"},"pam":{"language":"pam","value":"Argentina"},"pap":{"language":"pap","value":"Argentina"},"pdc":{"language":"pdc","value":"Artschenti"},"pih":{"language":"pih","value":"Aajentiina"},"pms":{"language":"pms","value":"Argentin-a"},"pnb":{"language":"pnb","value":"\u0627\u0631\u062c\u0646\u0679\u0627\u06cc\u0646"},"ps":{"language":"ps","value":"\u0627\u0631\u062c\u0646\u067c\u0627\u06cc\u0646"},"qu":{"language":"qu","value":"Arhintina"},"rm":{"language":"rm","value":"Argentinia"},"rmy":{"language":"rmy","value":"Arxentina"},"rn":{"language":"rn","value":"Argentina"},"ro":{"language":"ro","value":"Argentina"},"ru":{"language":"ru","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"rue":{"language":"rue","value":"\u0410\u0440\u0491\u0435\u043d\u0442\u0438\u043d\u0430"},"rw":{"language":"rw","value":"Arijantine"},"sa":{"language":"sa","value":"\u0905\u0930\u094d\u091c\u0928\u094d\u091f\u0940\u0928\u093e"},"sah":{"language":"sah","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"sc":{"language":"sc","value":"Argentina"},"scn":{"language":"scn","value":"Argintina"},"sco":{"language":"sco","value":"Argentinae"},"se":{"language":"se","value":"Argentiinn\u00e1"},"sh":{"language":"sh","value":"Argentina"},"sk":{"language":"sk","value":"Argent\u00edna"},"sl":{"language":"sl","value":"Argentina"},"so":{"language":"so","value":"Arjantiina"},"sq":{"language":"sq","value":"Argjentina"},"sr":{"language":"sr","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"stq":{"language":"stq","value":"Argentinien"},"su":{"language":"su","value":"Arg\u00e9ntina"},"sv":{"language":"sv","value":"Argentina"},"szl":{"language":"szl","value":"Argyntyna"},"ta":{"language":"ta","value":"\u0b85\u0bb0\u0bcd\u0b95\u0bc6\u0ba8\u0bcd\u0ba4\u0bc0\u0ba9\u0bbe"},"te":{"language":"te","value":"\u0c05\u0c30\u0c4d\u0c1c\u0c46\u0c02\u0c1f\u0c40\u0c28\u0c3e"},"tet":{"language":"tet","value":"Arjentina"},"tg":{"language":"tg","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"th":{"language":"th","value":"\u0e1b\u0e23\u0e30\u0e40\u0e17\u0e28\u0e2d\u0e32\u0e23\u0e4c\u0e40\u0e08\u0e19\u0e15\u0e34\u0e19\u0e32"},"tk":{"language":"tk","value":"Argentina"},"tl":{"language":"tl","value":"Arhentina"},"tr":{"language":"tr","value":"Arjantin"},"tt":{"language":"tt","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"ug":{"language":"ug","value":"\u0626\u0627\u0631\u06af\u06d0\u0646\u062a\u0649\u0646\u0627"},"uk":{"language":"uk","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"ur":{"language":"ur","value":"\u0627\u0631\u062c\u0646\u0679\u0627\u0626\u0646"},"uz":{"language":"uz","value":"Argentina"},"vec":{"language":"vec","value":"Argentina"},"vep":{"language":"vep","value":"Argentin"},"vi":{"language":"vi","value":"Argentina"},"vls":{"language":"vls","value":"Argentini\u00eb"},"vo":{"language":"vo","value":"Larg\u00e4nt\u00e4n"},"war":{"language":"war","value":"Argentina"},"wo":{"language":"wo","value":"Arsantin"},"wuu":{"language":"wuu","value":"\u963f\u6839\u5ef7"},"xal":{"language":"xal","value":"\u042d\u0440\u0497\u0435\u043d\u0442\u0443\u0434\u0438\u043d
        \u041e\u0440\u043d"},"xmf":{"language":"xmf","value":"\u10d0\u10e0\u10d2\u10d4\u10dc\u10e2\u10d8\u10dc\u10d0"},"yi":{"language":"yi","value":"\u05d0\u05e8\u05d2\u05e2\u05e0\u05d8\u05d9\u05e0\u05e2"},"yo":{"language":"yo","value":"Arg\u1eb9nt\u00edn\u00e0"},"zea":{"language":"zea","value":"Arhentini\u00eb"},"zh":{"language":"zh","value":"\u963f\u6839\u5ef7"},"ch":{"language":"ch","value":"Argentina"},"ki":{"language":"ki","value":"Argentina"},"zh-hans":{"language":"zh-hans","value":"\u963f\u6839\u5ef7"},"gsw":{"language":"gsw","value":"Argentinie"},"en-ca":{"language":"en-ca","value":"Argentina"},"en-gb":{"language":"en-gb","value":"Argentina"},"pt-br":{"language":"pt-br","value":"Argentina"},"de-ch":{"language":"de-ch","value":"Argentinien"},"mt":{"language":"mt","value":"Ar\u0121entina"},"csb":{"language":"csb","value":"Argentina"},"sr-ec":{"language":"sr-ec","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"sr-el":{"language":"sr-el","value":"Argentina"},"tyv":{"language":"tyv","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"av":{"language":"av","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"udm":{"language":"udm","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u0430"},"tokipona":{"language":"tokipona","value":"ma
        Alensina"},"crh-latn":{"language":"crh-latn","value":"Argentina"},"tw":{"language":"tw","value":"Argentina"},"srn":{"language":"srn","value":"Argentinikondre"},"sn":{"language":"sn","value":"Argentina"},"wa":{"language":"wa","value":"\u00c5rdjintene"},"new":{"language":"new","value":"\u0905\u0930\u094d\u091c\u0947\u0928\u094d\u0924\u093f\u0928\u093e"},"om":{"language":"om","value":"Arjentiinaa"},"min":{"language":"min","value":"Argentina"},"kab":{"language":"kab","value":"Tarjentint"},"cdo":{"language":"cdo","value":"Argentina"},"ty":{"language":"ty","value":"\u2019Atetina"},"zh-cn":{"language":"zh-cn","value":"\u963f\u6839\u5ef7"},"zh-hant":{"language":"zh-hant","value":"\u963f\u6839\u5ef7"},"zh-hk":{"language":"zh-hk","value":"\u963f\u6839\u5ef7"},"zh-mo":{"language":"zh-mo","value":"\u963f\u6839\u5ef7"},"zh-my":{"language":"zh-my","value":"\u963f\u6839\u5ef7"},"zh-sg":{"language":"zh-sg","value":"\u963f\u6839\u5ef7"},"zh-tw":{"language":"zh-tw","value":"\u963f\u6839\u5ef7"},"as":{"language":"as","value":"\u0986\u09f0\u09cd\u099c\u09c7\u09a8\u09cd\u099f\u09bf\u09a8\u09be"},"lrc":{"language":"lrc","value":"\u0622\u0631\u062c\u0627\u0646\u062a\u06cc\u0646"},"mzn":{"language":"mzn","value":"\u0622\u0631\u0698\u0627\u0646\u062a\u06cc\u0646"},"gom":{"language":"gom","value":"\u0906\u0930\u094d\u091c\u0947\u0928\u094d\u091f\u093f\u0928\u093e"},"za":{"language":"za","value":"Argentina"},"azb":{"language":"azb","value":"\u0622\u0631\u0698\u0627\u0646\u062a\u06cc\u0646"},"si":{"language":"si","value":"\u0d86\u0da2\u0db1\u0dca\u0da7\u0dd2\u0db1\u0dcf\u0dc0"},"kg":{"language":"kg","value":"Arhentina"},"tum":{"language":"tum","value":"Argentina"},"ady":{"language":"ady","value":"\u0410\u0440\u0433\u0435\u043d\u0442\u0438\u043d\u044d"},"chr":{"language":"chr","value":"\u13a0\u13e5\u13c2\u13d8\u13c2\u13a0"},"ig":{"language":"ig","value":"Argentina"},"sm":{"language":"sm","value":"Atenitina"},"ts":{"language":"ts","value":"Arjentina"},"jam":{"language":"jam","value":"Aajentiina"},"bgn":{"language":"bgn","value":"\u0627\u0631\u062d\u0646\u0679\u0627\u06cc\u0646"},"mai":{"language":"mai","value":"\u0905\u0930\u094d\u091c\u0947\u0928\u094d\u091f\u093f\u0928\u093e"},"fj":{"language":"fj","value":"Argentina"},"bho":{"language":"bho","value":"\u0905\u0930\u094d\u091c\u0947\u0928\u094d\u091f\u0940\u0928\u093e"},"tpi":{"language":"tpi","value":"Ajentina"},"nso":{"language":"nso","value":"Argentina"},"olo":{"language":"olo","value":"Argentiinu"},"pfl":{"language":"pfl","value":"Argentinje"},"nrm":{"language":"nrm","value":"Argentinne"},"de-at":{"language":"de-at","value":"Argentinien"}},"descriptions":{"fr":{"language":"fr","value":"pays
        d\u2019Am\u00e9rique du Sud"},"nb":{"language":"nb","value":"land i S\u00f8r-Amerika"},"es":{"language":"es","value":"pa\u00eds
        de Am\u00e9rica del Sur"},"it":{"language":"it","value":"stato dell''America
        meridionale"},"de":{"language":"de","value":"Staat in S\u00fcdamerika"},"ru":{"language":"ru","value":"\u0441\u0442\u0440\u0430\u043d\u0430
        \u0432 \u042e\u0436\u043d\u043e\u0439 \u0410\u043c\u0435\u0440\u0438\u043a\u0435"},"zh[...]
