---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=90d73c1188829195d023b5a5fc6399e1&lat=1.0&lon=2.0&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":0,"lat":0},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"base":"stations","main":{"temp":23.84,"pressure":1009,"humidity":100,"temp_min":20,"temp_max":27.78},"wind":{"speed":0.51,"deg":69},"rain":{"3h":0.17},"clouds":{"all":88},"dt":1475527912,"sys":{"type":3,"id":8538,"message":0.0076,"country":"none","sunrise":1475473522,"sunset":1475517113},"id":6295630,"name":"Earth","cod":200}'
  recorded_at: Mon, 03 Oct 2016 20:55:49 GMT
recorded_with: VCR 3.0.1
