---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=90d73c1188829195d023b5a5fc6399e1&lat=1.0&lon=2.0&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":6295630,"name":"Earth","coord":{"lon":0,"lat":0},"country":"","population":0,"sys":{"population":0}},"cod":"200","message":0.0077,"cnt":40,"list":[{"dt":1475528400,"main":{"temp":25.08,"temp_min":25.08,"temp_max":25.15,"pressure":1026.5,"sea_level":1026.54,"grnd_level":1026.5,"humidity":100,"temp_kf":-0.07},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":88},"wind":{"speed":4.36,"deg":213.003},"rain":{"3h":0.17},"sys":{"pod":"n"},"dt_txt":"2016-10-03
        21:00:00"},{"dt":1475539200,"main":{"temp":25.38,"temp_min":25.38,"temp_max":25.43,"pressure":1026.09,"sea_level":1026.24,"grnd_level":1026.09,"humidity":100,"temp_kf":-0.05},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"clouds":{"all":92},"wind":{"speed":4.46,"deg":218.505},"rain":{"3h":0.015},"sys":{"pod":"n"},"dt_txt":"2016-10-04
        00:00:00"},{"dt":1475550000,"main":{"temp":25.39,"temp_min":25.39,"temp_max":25.43,"pressure":102[...]
