---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=38178 t=1458823064209017
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.207.44.124
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=Argentina%7CChile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=143840 t=1458823064592213
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.207.44.124
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"18951905":{"pageid":18951905,"ns":0,"title":"Argentina","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{other
        uses}}\n{{pp-semi|small=yes}}\n{{Use dmy dates|date=September 2015}}\n{{Coord|34|S|64|W|display=title}}\n{{Infobox
        country\n|conventional_long_name = Argentine Republic{{efn-ua|name=altnames|Article
        35 of the [[Argentine Constitution]] gives equal recognition to the names
        \"United Provinces of the River Plate\", \"Argentine Republic\" and \"Argentine
        Confederation\" and authorizes the use of \"Argentine Nation\" in the making
        and enactment of laws.{{sfn|Constitution of Argentina|loc=art. 35}}}}\n|native_name
        = {{native name|es|Rep\u00fablica Argentina}}\n|common_name = Argentina\n|image_flag
        = Flag of Argentina.svg\n|image_coat = Coat of arms of Argentina.svg\n|national_motto
        = {{unbulleted list\n   |list_style=line-height:125%;\n   | {{native phrase|es|\"[[En
        uni\u00f3n y libertad]]\"|nolink=yes|paren=off}}\n   | {{small|(\"In Unity
        and Freedom\")}}\n }}\n|national_anthem = {{unbulleted list\n   |item1_style=line-height:125%;\n   |item2_style=line-height:125%;\n   |item3_style=margin-top:4px;\n   |
        {{native phrase|es|[[Argentine National Anthem|Himno Nacional Argentino]]|nolink=yes|paren=off}}\n   |
        {{small|(\"Argentine National Anthem\")}}\n   | <center>[[File:Himno Nacional
        Argentino instrumental.ogg]]</center>\n }}\n|other_symbol = [[File:Sol de
        Mayo-Bandera de Argentina.svg|90x90px|alt=Sol de Mayo]]\n|other_symbol_type
        = {{native name|es|[[Sol de Mayo]]{{sfnm|1a1=Crow|1y=1992|1p=457|1ps=: \"In
        the meantime, while the crowd assembled in the plaza continued to shout its
        demands at the cabildo, the sun suddenly broke through the overhanging clouds
        and clothed the scene in brilliant light. The peop[...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0A%20%20%20%20%20%20%20%20PREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0A%20%20%20%20%20%20%20%20PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20p:%20%3Chtt[...]
