---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=22196 t=1458348001021662
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.5.221
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=Pink%20Floyd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=71781 t=1458348001518935
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.5.221
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"5079506":{"pageid":5079506,"ns":0,"title":"Pink
        Floyd","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{pp-vandalism|small=yes}}\n{{pp-move-indef}}\n{{Use
        British English|date=January 2014}}\n{{Use dmy dates|date=February 2016}}\n{{Infobox
        musical artist\n| name = Pink Floyd\n| image = Pink Floyd - all members.jpg\n|
        caption = Pink Floyd in January 1968, from the only known photo-shoot of all
        five members. Clockwise from bottom: [[David Gilmour|Gilmour]], [[Nick Mason|Mason]],
        [[Syd Barrett|Barrett]], [[Roger Waters|Waters]], [[Richard Wright (musician)|Wright]]\n|
        alt = A black and white photo of five men standing in front of a brick wall.\n|
        landscape = \n| background = group_or_band\n| genre = [[Progressive rock]],
        [[psychedelic rock]], [[art rock]]\n| origin = [[London]], England\n| years_active
        = {{flatlist|\n*{{Start date|1965}}\u2013{{End date|1995}}\n*{{Start date|2012}}\u20132014<br/><small>(one-off
        reunion: 2005)</small>\n}}\n| label = {{flatlist|\n* [[Columbia Graphophone
        Company|EMI Columbia]]\n* [[Harvest Records|Harvest]]\n* [[Capitol Records|Capitol]]\n*
        [[Columbia Records|Columbia]]\n* [[EMI]]\n* [[Parlophone]]\n}}\n| website
        = {{URL|pinkfloyd.com}}\n| current_members = \n| past_members =\n* [[Nick
        Mason]]\n* [[Roger Waters]]\n* [[Richard Wright (musician)|Richard Wright]]\n*
        [[Syd Barrett]]\n* [[David Gilmour]]\n}} <!-- Please discuss at that talk
   [...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0A%20%20%20%20%20%20%20%20PREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0A%20%20%20%20%20%20%20%20PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20p:%20%3Chtt[...]
