---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=19050 t=1470925677842845
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.68.181
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=Chewbacca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=34127 t=1470925678314437
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.68.181
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"19724058":{"pageid":19724058,"ns":0,"title":"Chewbacca","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{pp-move|small=yes}}\n{{Lead
        too short|date=December 2014}}\n{{Infobox character\n| name        = Chewbacca\n|
        image       = Chewbacca-2-.jpg\n| caption     = Chewbacca in ''''[[Star Wars
        (film)|Star Wars]]''''\n| series      = [[Star Wars]]\n| first       = ''''[[Star
        Wars (film)|Star Wars]]'''' (1977)\n| creator     = [[George Lucas]]\n| portrayer   =
        [[Peter Mayhew]] {{small|(''''Episodes III\u2013VIII'''', ''''[[Star Wars
        Holiday Special|Holiday Special]]'''')}}<br>[[Joonas Suotamo]] {{small|(body
        double, ''''Episode VII-VIII'''')}}\n| voice       = [[Peter Mayhew]] ({{small|consultant)}}<br>''''[[Star
        Wars: The Clone Wars (2008 TV series)|The Clone Wars]]'''')\n| occupation  =
        Co-pilot and first mate on ''''[[Millennium Falcon]]''''\n| species     =
        [[Wookiee]]\n| gender      = Male\n| affiliation = [[Galactic Republic]]<br>[[Rebel
        Alliance]]<br>[[New Republic (Star Wars)|New Republic]]\n| lbl21       = Homeworld
        \n| data21      = [[Kashyyyk]]\n}}\n''''''Chewbacca'''''' ({{IPAc-en|t\u0283|u\u02d0|\u02c8|b|\u0251\u02d0|k|\u0259}}),
        nicknamed \"''''''Chewie''''''\", is a fictional character in the ''''[[Star
        Wars]]'''' franchise. He is a [[Wookiee]], a tall, hirsute biped and intelligent
        species from the planet [[Kashyyyk]]. Chewbacca is the loyal friend and associate
        of [[Han Solo]], and serves as co-pilot on Solo''s spaceship, the ''''[[Millennium
        Falcon]]''''.<ref>{{Cite web|title = Star Wars, Databank, Chewbacca|url =
        http://www.starwars.com/databank/chewbacca|accessdate = 2015-12-17}}</ref>
        Chewbacca is portrayed by actor [[Peter Mayhew]] in the ''''Star Wars''''
        films. The character has also appeared on television, in books, comics, and
        video games.\n\n==Character==\nChewbacca, a 200-year-old [[Wookiee]], becomes
        [[Han Solo|Han Solo''s]] companion after Han, an Imperial officer at the time,
        refused an order to kill him, for which Han was dismissed from the Imperial
       [...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0A%20%20%20%20%20%20%20%20PREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0A%20%20%20%20%20%20%20%20PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20p:%20%3Chtt[...]
