---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=Europe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=73855 t=1458348011685769
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.5.221
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"9239":{"pageid":9239,"ns":0,"title":"Europe","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{about|the
        continent|the politico-economic union|European Union|other uses|Europe (disambiguation)}}\n{{pp-semi|small=yes}}\n{{Use
        dmy dates|date=February 2016}}\n{{EngvarB|date=February 2016}}\n{{Infobox
        Continent\n|title = Europe\n|image = [[File:Europe orthographic Caucasus Urals
        boundary (with borders).svg|220px]]\n|area = {{convert|10,180,000|km2|sqmi|abbr=on}}{{cref2|n|1}}
        (6th)\n|population = 742,452,000{{cref2|n|2}} (2013; [[List of continents
        by population|3rd]])\n|density = 72.9/km<sup>2</sup> (188/sq mi) (2nd)\n|demonym
        = [[Ethnic groups in Europe|European]]\n|countries = ~[[List of sovereign
        states and dependent territories in Europe|50 countries]] (and ~[[List of
        sovereign states and dependent territories in Europe#States with limited recognition|5
        with limited recognition]])<!--Note: numbers are approximate, as indicated
        by the \"~\".-->\n|dependencies = [[List of sovereign states and dependent
        territories in Europe#Dependent territories|4 dependencies]]<!--Gibraltar,
        Isle of Man, Guernsey and Jersey. Note: The Faroes and Aland are constituent
        parts of their states, not dependencies.-->\n|languages = ~[[Languages of
        Europe|225 languages]]<ref>[http://edl.ecml.at/LanguageFun/LanguageFacts/tabid/1859/Default.aspx
        Language facts \u2013 European day of languages], Council of Europe. Retrieved
        30 July 2015.</ref>\n|time = [[UTC\u221201:00|UTC\u22121]]<!--Azores--> to
        [[UTC+05:00|UTC+5]]<!--Russia and Kazakhstan-->\n|internet =\n|cities =\n
        {{unbulleted list\n  |[[List of urban areas in Europe|Urban areas in Europe]]<ref>''''[http://esa.un.org/unpd/wup/CD-ROM/WUP2014_XLS_CD_FILES/WUP2014-F22-Cities_Over_300K[...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0A%20%20%20%20%20%20%20%20PREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0A%20%20%20%20%20%20%20%20PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20p:%20%3Chtt[...]
