---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=28051 t=1456492232078976
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.103.153
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=Ukraine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=70323 t=1456492232653810
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.103.153
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"31750":{"pageid":31750,"ns":0,"title":"Ukraine","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{about|the
        country}}\n{{pp-pc1}}\n{{pp-move-indef}}\n{{Use dmy dates|date=February 2016}}\n\n{{Infobox
        country\n|conventional_long_name =Ukraine\n|native_name = {{native name|ua|\u0423\u043a\u0440\u0430\u0457\u043d\u0430|italics=no|icon=no}}<br
        />''''{{small|Ukrayina}}''''\n|common_name = Ukraine\n|image_flag = Flag of
        Ukraine.svg\n|image_coat = Lesser Coat of Arms of Ukraine.svg\n|national_anthem
        = {{lang|uk-Latn|\"''''[[Shche ne vmerla Ukraina|Shche ne vmerly Ukrainy ni
        slava ni volya]]''''\"}}<br /><small>\"The glory and the will of Ukraine has
        not yet died\"</small><br /><center>[[File:Anthem of Ukraine instrumental.ogg]]</center>\n|image_map
        = Europe-Ukraine (disputed territory).svg\n|map_caption ={{unbulleted list|{{map
        caption |country={{nobold|Ukraine}} |location_color=green |region=Europe |region_color=green
        & dark grey}}|Disputed territory ({{small|light green}})}}\n|capital = [[Kiev]]
        (Kyiv)\n|latd=50 |latm=27 |latNS=N |longd=30 |longm=30 |longEW=E\n|largest_city
        = capital\n|official_languages = [[Ukrainian language|Ukrainian]]\n|regional_languages
        =\n {{collapsible list\n  |titlestyle = background:transparent;text-align:left;font-weight:normal;\n  |title
        = 18 languages<ref>{{cite web | url=http://zakon4.rada.gov.ua/laws/show/5029-17
        | archiveurl=https://web.archive.org/web/20140214125040/http://zakon4.rada.gov.ua/laws/show/5029-17
        | archivedate=14 February 2014 | title=Law of Ukraine \"On Principles of State
        Language Policy\" (Current version \u2014 Revision from 1 February 2014) |
        publisher=Zakon2.rada.gov.ua | work=Document 5029-17, Article 7: Regional
        or minority languages Ukraine, Paragraph 2 | date=1 February 2014 | acc[...]
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=%0A%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20PREFIX%20wikibase:%20%3Chttp://wikiba.se/ontology%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20wd:%20%3Chttp://www.wikidata.org/entity/%3E%20%0A%20%20%20%20%20%20%20%20PREFIX%20wdt:%20%3Chttp://www.wikidata.org/prop/direct/%3E%0A%20%20%20%20%20%20%20%20PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0A%20%20%20%20%20%20%20%20PREFIX%20p:%20%3Chtt[...]
