---
http_interactions:
- request:
    method: get
    uri: https://www.quandl.com/api/v3/datasets/ODA/UKR_PPPGDP/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - JU6KEPEkqqqfVkcpa9MU
      Request-Source:
      - ruby
      Request-Source-Version:
      - 1.0.3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3483f14f5df266cf95c518f33ae22a73"
      X-Api-Version:
      - '2015-04-09'
      X-Rack-Cors:
      - preflight-hit; no-origin
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49997'
    body:
      encoding: UTF-8
      string: '{"dataset_data":{"limit":null,"transform":null,"column_index":null,"column_names":["Date","Value"],"start_date":"1992-12-31","end_date":"2020-12-31","frequency":"annual","data":[["2020-12-31",444.52],["2019-12-31",418.234],["2018-12-31",393.641],["2017-12-31",371.007],["2016-12-31",352.339],["2015-12-31",341.489],["2014-12-31",371.812],["2013-12-31",392.619],["2012-12-31",386.425],["2011-12-31",378.532],["2010-12-31",351.656],["2009-12-31",346.506],["2008-12-31",405.232],["2007-12-31",388.715],["2006-12-31",349.893],["2005-12-31",315.569],["2004-12-31",296.623],["2003-12-31",258.226],["2002-12-31",231.177],["2001-12-31",216.141],["2000-12-31",193.472],["1999-12-31",178.575],["1998-12-31",176.24],["1997-12-31",177.572],["1996-12-31",180.309],["1995-12-31",196.427],["1994-12-31",219.007],["1993-12-31",277.653],["1992-12-31",318.309]],"collapse":null,"order":"desc"}}'
  recorded_at: Sat, 05 Mar 2016 09:57:55 GMT
recorded_with: VCR 3.0.1
