---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=18.795278&lng=98.998611&username=realitygeo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2016-02-16 06:51","lng":98.998611,"countryCode":"TH","gmtOffset":7,"rawOffset":7,"sunset":"2016-02-16
        18:24","timezoneId":"Asia/Bangkok","dstOffset":7,"countryName":"Thailand","time":"2016-02-17
        04:05","lat":18.795278}'
  recorded_at: Tue, 16 Feb 2016 21:05:22 GMT
recorded_with: VCR 3.0.0
