---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=90d73c1188829195d023b5a5fc6399e1&lat=1.0&lon=2.0&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":0,"lat":0},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"base":"stations","main":{"temp":24.99,"pressure":1009,"humidity":100,"temp_min":20.56,"temp_max":28.89},"wind":{"speed":3.87,"deg":203.002},"rain":{"3h":0.135},"clouds":{"all":92},"dt":1475522830,"sys":{"type":3,"id":8538,"message":0.0067,"country":"none","sunrise":1475473523,"sunset":1475517114},"id":6295630,"name":"Earth","cod":200}'
  recorded_at: Mon, 03 Oct 2016 19:36:27 GMT
recorded_with: VCR 3.0.1
