---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=35529 t=1456497326757295
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.37
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=List%20of%20cities%20in%20Bolivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=37945 t=1456497327279117
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.37
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"List of cities in
        Bolivia","to":"List of Bolivian cities by population"}],"pages":{"214434":{"pageid":214434,"ns":0,"title":"List
        of Bolivian cities by population","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Use
        dmy dates|date=February 2014}}\n\n{{Top bolivian cities by pop}}\n\nAccording
        to the [[National Institute of Statistics of Bolivia]] (INE), a city is classified
        as an [[area]] where the [[city limit]]s are identifiable, and its [[Politics
        of Bolivia#Local government|local government]] is recognized.<ref name=\"2012cen\"
        /> The [[List of sovereign states and dependent territories in South America|South
        American country]] of [[Bolivia]] has 1,384 cities.<ref>{{Cite web | url=http://www.unesco.org/education/wef/countryreports/bolivia/rapport_1.html
        | title=Bolivia | publisher=[[UNESCO]] | accessdate=22 February 2014 | language=Spanish}}</ref>
        As of 21 November 2012, the date of the [[2012 Bolivian census|most-recent
        national census]],<ref>{{Cite news | url=h[...]
