---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=List%20of%20cities%20in%20Italy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=29987 t=1458348005863159
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.5.221
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"10138926":{"pageid":10138926,"ns":0,"title":"List
        of cities in Italy","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{see
        also|Metropolitan cities of Italy}}\n\n==Metropolitan areas==\n[[File:Roman
        Colosseum With Moon.jpg|thumb|300px|[[Rome]]]]\n[[File:DuomoDiMilano.jpg|thumb|300px|[[Milan]]]]\n[[File:Napoli6.png|thumb|300px|[[Naples]]]]\n[[File:Torino.jpg|thumb|300px|[[Turin]]]]\n[[File:Palermo02
        flickr.jpg|thumb|300px|[[Palermo]]]]\n[[File:Porto di genova 003.jpg|thumb|300px|[[Genoa]]]]\n[[File:Bologna
        seen from Asinelli tower.jpg|thumb|300px|[[Bologna]]]]\n[[File:Sunset over
        florence 1.jpg|thumb|300px|[[Florence]]]]\n[[File:The port of Bari, Italy
        (L. Massoptier).jpg|thumb|300px|[[Bari]]]]\n[[File:Piazza del Duomo, Catania,
        Panorama.jpg|thumb|300px|[[Catania]]]]\n[[File:Venezia-punta della dogana.jpg|thumb|300px|[[Venice]]]]\n[[File:Verona
        - Ponte di Castelvecchio.jpg|thumb|300px|[[Verona]]]]\n[[File:Messina-panorama
        dal Campanile.jpg|thumb|300px|[[Messina]]]]\n[[File:15PiazzaSignori.jpg|thumb|300px|[[Padua]]]]\n[[File:Trieste-CityHall.jpg|thumb|300px|[[Trieste]]]]\n[[File:Castello
        Aragonese(Taranto).JPG|thumb|300px|[[Taranto]]]]\n''''''Urban Outlook 2015,
        Aree Metropolitane'''''' by ''''CityRailways''''\n<ref>http://www.cityrailways.net/studi-e-tecnica/2014/12/22/urban-outlook-2015.html</ref>\n{|
        class=\"wikitable sortable\" style=\"text-align:left;\"\n|- style=\"font-size:100%;
        text-align:center;\"\n!align=center|City\n!align=center|Population<br /><small>January
        1, 2014</small>\n!align=center|Area<br /><small>(km<sup>2</sup>)</small>\n!align=center|Density<br
        /><small>(inh./km<sup>2</sup>)</small>\n|-\n| [[Milan]] || align=right|6,623,798
        || align=right|4,450.11 || align=right|1,488\n|-\n| [[Naples]] || align=right|5,294,546
        || align=right|3,116.52 || align=right|1,699\n|-\n| [[Rome]] || align=right|4,447,881
        || align=right|3,340.41 || align=right|1,332\n|-\n| [[Turin]] || align=right|1,865,284
        || align=right|1,328.40 || align=right|1,404\n|-\n| [[Venice]]-[[Padua]] ||[...]
