---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&meta=siteinfo&siprop=namespaces%7Cnamespacealiases
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=37586 t=1456493432370181
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.103.153
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"namespaces":{"-2":{"id":-2,"case":"first-letter","canonical":"Media","*":"Media"},"-1":{"id":-1,"case":"first-letter","canonical":"Special","*":"Special"},"0":{"id":0,"case":"first-letter","content":"","*":""},"1":{"id":1,"case":"first-letter","subpages":"","canonical":"Talk","*":"Talk"},"2":{"id":2,"case":"first-letter","subpages":"","canonical":"User","*":"User"},"3":{"id":3,"case":"first-letter","subpages":"","canonical":"User
        talk","*":"User talk"},"4":{"id":4,"case":"first-letter","subpages":"","canonical":"Project","*":"Wikipedia"},"5":{"id":5,"case":"first-letter","subpages":"","canonical":"Project
        talk","*":"Wikipedia talk"},"6":{"id":6,"case":"first-letter","canonical":"File","*":"File"},"7":{"id":7,"case":"first-letter"[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=List%20of%20cities%20in%20Ukraine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=34372 t=1456493432859426
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.103.153
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"4077166":{"pageid":4077166,"ns":0,"title":"List
        of cities in Ukraine","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"This
        is a complete ''''''list of cities in Ukraine''''''. On 1 January 2010 there
        were ''''''459'''''' [[city|cities]] ({{lang-uk|\u043ci\u0441\u0442\u043e}},
        ''''misto'''') in [[Ukraine]]. There are three categories of cities which
        are indicated by a respective letter as a city status in the table below (see
        legends below for the city status lettering identification). All cities have
        some level of significance. Any settlement that [...]
