---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=List%20of%20United%20States%20cities%20by%20population
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=38313 t=1456496759354527
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.21.37
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"1649321":{"pageid":1649321,"ns":0,"title":"List
        of United States cities by population","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{Use
        mdy dates|date=August 2014}}\n{{Redirect|List of largest cities in the United
        States|a list of largest cities by area|List of United States cities by area}}\n{{GeoGroup}}\n{{U.S.
        city population tables}}\nThe following is a list of the most populous [[municipal
        corporation|incorporated places]] of the [[United States]]. As defined by
        the [[United States Census Bureau]], an \"[[incorporated place]]\" includes
        a variety of designations, including [[city]], [[town]], [[village]], [[borough]],
        and [[municipality]].<ref name=NewEngland>Towns in [[New England]], while
        incorporated on a level similar to cities in other states, are considered
        [[minor civil division]]s by the Census Bureau and are not included in its
        list of incorporated places. A detailed discussion on this subject can be
        found at [[New England town#Census treatment of the New England town system]].</ref>
        A few exceptional [[census-designated place|Census Designated Places]] (CDPs)
        are also included [...]
