---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo&redirects=true&rvprop=content&titles=List%20of%20cities%20in%20Vietnam
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=43035 t=1456494333880364
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.179.103.153
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"379347":{"pageid":379347,"ns":0,"title":"List
        of cities in Vietnam","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"[[File:Vietnam-CIA
        WFB Map.png|thumb|right|250px|Map of Vietnam]]\n[[File:Vista de Ciudad Ho
        Chi Minh desde Bitexco Financial Tower, Vietnam, 2013-08-14, DD 13.JPG|thumb|right|250px|[[H\u1ed3
        Ch\u00ed Minh City]]]]\n[[File:Hanoitito03.jpg|thumb|254x254px|[[H\u00e0 N\u1ed9i]]]]\n[[File:07-HAIPHONG
        PORT.jpg|thumb|right|250px|[[H\u1ea3i Ph\u00f2ng]]]]\n[[File:Can Tho City
        - Stadt aus Sicht vom Boot.jpg|thumb|right|250px|[[C\u1ea7n Th\u01a1]]]]\n[[File:Da
        Nang.jpg|thumb|right|250px|[[\u0110\u00e0 N\u1eb5ng]]]]\n\nThis article is
        an incomplete ''''''list of cities in [[Vietnam]]''''''.\n\n==Centrally controlled
        cities==\nThere are five centrally controlled cities, also known as municipalities
        (''''th\u00e0nh ph\u1ed1 tr\u1ef1c thu\u1ed9c trung \u01b0\u01a1ng'''') in
        [[Vietnam]].<ref name=list>{{cite web|title=List of cities in Vietnam|url=http://www.vietnamtourism.org.vn/guide/list-of-cities-in-vietnam/|work=Vietnam
        Tourism|publisher=Vietnam Tourism Information|accessdate=11 October 2012|year=2010}}</ref>\n\n{|
        class=\"wikitable sortable\"\n|-align=center bgcolor=#EFEFEF\n! City name
        !! Area (km<sup>2</sup>) !!Population !!City status!! Year of establishment\n|-
        align=center\n| [[Can Tho]] ||1,389.60||1,238,300|| 1st-class|| 1928\n|- align=center\n|
        [[Da Nang]] ||1,255.53||1,007,700|| 1st-class|| 1889\n|- align=center\n| [[Hai
        Phong]] ||1,507.57||1,946,000|| 1st-class|| 1888 \n|- align=center\n| [[Ha
        Noi]] ||3,324.92||7,379,300|| special class|| 1888 \n|- align=center\n| [[Ho
        Chi Minh City]] ||2,095.00||8,244,400|| special class|| 1877\n|}\n\n==Provin[...]
