---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/timezoneJSON?lat=47.01&lng=10.2&username=realitygeo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"sunrise":"2016-10-03 07:21","lng":10.2,"countryCode":"AT","gmtOffset":1,"rawOffset":1,"sunset":"2016-10-03
        18:53","timezoneId":"Europe/Vienna","dstOffset":2,"countryName":"Austria","time":"2016-10-03
        23:39","lat":47.01}'
  recorded_at: Mon, 03 Oct 2016 21:39:02 GMT
recorded_with: VCR 3.0.1
