---
http_interactions:
- request:
    method: get
    uri: https://www.quandl.com/api/v3/datasets/ODA/UKR_PCPIPCH/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - JU6KEPEkqqqfVkcpa9MU
      Request-Source:
      - ruby
      Request-Source-Version:
      - 1.0.3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a81784834e7ae25c5ff7e7629628915d"
      X-Api-Version:
      - '2015-04-09'
      X-Rack-Cors:
      - preflight-hit; no-origin
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49992'
    body:
      encoding: UTF-8
      string: '{"dataset_data":{"limit":null,"transform":null,"column_index":null,"column_names":["Date","Value"],"start_date":"1993-12-31","end_date":"2020-12-31","frequency":"annual","data":[["2020-12-31",5.016],["2019-12-31",5.005],["2018-12-31",6.981],["2017-12-31",9.862],["2016-12-31",14.18],["2015-12-31",49.979],["2014-12-31",12.1],["2013-12-31",-0.261],["2012-12-31",0.565],["2011-12-31",7.958],["2010-12-31",9.365],["2009-12-31",15.9],["2008-12-31",25.201],["2007-12-31",12.843],["2006-12-31",9.076],["2005-12-31",13.52],["2004-12-31",9.036],["2003-12-31",5.21],["2002-12-31",0.757],["2001-12-31",11.959],["2000-12-31",28.203],["1999-12-31",22.684],["1998-12-31",10.577],["1997-12-31",15.886],["1996-12-31",80.23],["1995-12-31",376.745],["1994-12-31",891.187],["1993-12-31",4734.914]],"collapse":null,"order":"desc"}}'
  recorded_at: Fri, 11 Mar 2016 13:44:14 GMT
recorded_with: VCR 3.0.1
