---
http_interactions:
- request:
    method: get
    uri: https://www.quandl.com/api/v3/datasets/ODA/UKR_NGDPD/data
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - JU6KEPEkqqqfVkcpa9MU
      Request-Source:
      - ruby
      Request-Source-Version:
      - 1.0.3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbd3fa558fbaeb7e71d5420b45b6a59f"
      X-Api-Version:
      - '2015-04-09'
      X-Rack-Cors:
      - preflight-hit; no-origin
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49990'
    body:
      encoding: UTF-8
      string: '{"dataset_data":{"limit":null,"transform":null,"column_index":null,"column_names":["Date","Value"],"start_date":"1992-12-31","end_date":"2020-12-31","frequency":"annual","data":[["2020-12-31",137.856],["2019-12-31",125.991],["2018-12-31",115.455],["2017-12-31",104.307],["2016-12-31",93.812],["2015-12-31",90.138],["2014-12-31",130.66],["2013-12-31",179.572],["2012-12-31",175.707],["2011-12-31",163.161],["2010-12-31",136.011],["2009-12-31",121.552],["2008-12-31",188.24],["2007-12-31",148.734],["2006-12-31",111.885],["2005-12-31",89.282],["2004-12-31",67.226],["2003-12-31",52.01],["2002-12-31",43.956],["2001-12-31",39.309],["2000-12-31",32.331],["1999-12-31",32.661],["1998-12-31",43.315],["1997-12-31",51.867],["1996-12-31",46.083],["1995-12-31",38.275],["1994-12-31",38.012],["1993-12-31",35.025],["1992-12-31",22.193]],"collapse":null,"order":"desc"}}'
  recorded_at: Fri, 11 Mar 2016 13:44:42 GMT
recorded_with: VCR 3.0.1
