---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=wbentityusage%7Crevisions%7Cinfo&redirects=true&rvprop=content&titles=Einstein
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=93700 t=1481573370441964
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.2.121
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Einstein","to":"Albert
        Einstein"}],"pages":{"736":{"pageid":736,"ns":0,"title":"Albert Einstein","wbentityusage":{"P569":{"aspects":["L.en"]},"P570":{"aspects":["L.en"]},"Q937":{"aspects":["S","T","X"]}},"revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{redirect|Einstein|other
        uses|Albert Einstein (disambiguation)|and|Einstein (disambiguation)}}\n{{pp-semi-indef}}\n{{pp-move-indef}}\n{{Good
        article}}\n{{Infobox scientist\n| name        = Albert Einstein\n| image       =
        Einstein 1921 by F Schmutzer - restoration.jpg\n| caption     = Albert Einstein
        in 1921\n| birth_date  = {{Birth date|df=yes|1879|3|14}}\n| birth_place =
        [[Ulm]], [[Kingdom of W\u00fcrttemberg]], [[German Empire]]\n| death_date  =
        {{Death date and age|df=yes|1955|4|18|1879|3|14}}\n| death_place = {{nowrap|[[Princeton,
        New Jersey]], US}}\n| children    = [[Lieserl Einstein|\"Lieserl\"]] (1902\u20131903?)<br
        />[[Hans Albert Einstein|Hans Albert]] (1904\u20131973)<br />[[Einstein family#Eduard
        Einstein (Albert''s son)|Eduard \"Tete\"]] (1910\u20131965)\n| spouse      =
        [[Mileva Mari\u0107]]&nbsp;(1903\u20131919)<br/>{{nowrap|[[Elsa L\u00f6wenthal]]&nbsp;(1919\u20131936)}}<ref>{{cite
        book |editor-last=Heilbron |editor-first=John L. |title=The Oxford Companion
        to the History of Modern Science |url=https://books.google.com/books?id=abqjP-_KfzkC&pg=PA233
        |date=2003 |publisher=Oxford University Press |isbn=978-0-19-974376-6 |page=233}}</ref>{{sfnp|Pais|1982|p=301}}\n|
        residence   = Germany, Italy, Switzerland, Austria (present-day Czech Republic),
        Belgium, United States\n| citizenship = {{Plainlist|\n* Subject of the [[Kingdom
     [...]
