---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q414&languages=en&props=info%7Csitelinks%7Cclaims&sitefilter=enwiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=126932 t=1494679187318291
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.12.42
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q414":{"pageid":625,"ns":0,"title":"Q414","lastrevid":484626040,"modified":"2017-05-11T22:58:32Z","type":"item","id":"Q414","claims":{"P1549":[{"mainsnak":{"snaktype":"value","property":"P1549","datavalue":{"value":{"text":"Argentinian","language":"en"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q414$d544cff4-4b2e-eaa5-dd67-b673444eb66d","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P1549","datavalue":{"value":{"text":"Argentinean","language":"en"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q414$1fecc6b5-4867-4902-5d41-70fccd7c5f7c","rank":"deprecated"},{"mainsnak":{"snaktype":"value","property":"P1549","datavalue":{"value":{"text":"Argentinier","language":"de"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q414$0e5e1781-4da7-13ec-b4cd-8878872a7f7c","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P1549","datavalue":{"value":{"text":"argentin","language":"hu"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q414$364073ad-4157-e487-d932-e0654e123090","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P1549","datavalue":{"value":{"text":"argentino","language":"es"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q414$b25773a6-4466-b6c9-93bb-cea384aecf9d","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P1549","datavalue":{"value":{"text":"Argentinec","language":"cs"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","qualifiers":{"P518":[{"snaktype":"value","property":"P518","hash":"9cc07521551419c9220b15f5deb65bfdb0308dff","datavalue":{"value":{"entity-type":"item","numeric-id":6581097,"id":"Q6581097"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P518"],"id":"Q414$70acfc37-430e-9d1e-8b59-c93ac427666e","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P1549","datavalue":{"value":{"text":"Argentinka","language":"cs"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","qualifiers":{"P518":[{"snaktype":"value","property":"P518","hash":"7e6de72848cf4c352251550e1f387eb07c76b893","datavalue":{"value":{"entity-type":"item","numeric-id":6581072,"id":"Q6581072"},"type":"wikibase-entityid"},"datatype":"wikibase-[...]
