---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&inprop=url&prop=revisions%7Cinfo%7Cwbentityusage&redirects=true&rvprop=content%7Ctimestamp&titles=Argentina
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=50968 t=1494690641100442
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 94.179.12.42
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"18951905":{"pageid":18951905,"ns":0,"title":"Argentina","revisions":[{"timestamp":"2017-05-06T16:09:33Z","contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{other
        uses}}\n{{pp-semi|small=yes}}\n{{Use dmy dates|date=March 2017}}\n{{Coord|34|S|64|W|display=title}}\n{{Infobox
        country\n|coordinates = {{Coord|34|36|S|58|23|W|type:city}}\n|conventional_long_name
        = Argentine Republic{{efn-ua|name=altnames|Article 35 of the [[Argentine Constitution]]
        gives equal recognition to the names \"United Provinces of the River Plate\",
        \"Argentine Republic\" and \"Argentine Confederation\" and authorizes the
        use of \"Argentine Nation\" in the making and enactment of laws.{{sfn|Constitution
        of Argentina|loc=art. 35}}}}\n|native_name = {{native name|es|Rep\u00fablica
        Argentina}}\n|image_flag = Flag of Argentina.svg\n|image_coat = Coat of arms
        of Argentina.svg\n|common_name = Argentina\n|national_motto = {{unbulleted
        list\n   |list_style=line-height:125%;\n   | {{native phrase|es|\"[[En uni\u00f3n
        y libertad]]\"|nolink=yes|paren=off}}\n   | {{small|(\"In Unity and Freedom\")}}\n
        }}\n|national_anthem = {{unbulleted list\n   |item1_style=line-height:125%;\n   |item2_style=line-height:125%;\n   |item3_style=margin-top:4px;\n   |
        {{native phrase|es|[[Argentine National Anthem|Himno Nacional Argentino]]|nolink=yes|paren=off}}\n   |
        {{small|(\"Argentine National Anthem\")}}\n   | <center>[[File:Himno Nacional
        Argentino instrumental.ogg]]</center>\n }}\n|other_symbol = [[File:Sol de
        Mayo-Bandera de Argentina.svg|90x90px|alt=Sol de Mayo]]\n|other_symbol_type
        = {{native name|es|[[Sol de Mayo]]{{sfnm|1a1=Crow|1y=1992|1p=457|1ps=: \"In
        the meantime, while the crowd assembled in the plaza continued to shout its
        demands at the cabildo, the sun suddenly broke through the overhanging clouds
        and clothed the scene in brilliant light. The people looked upward with one
        accord and took it as a favorable omen for their cause. This was the origin
        of the \"sun of May\" which has appeared in the center of the Argentine flag
        and on the Argentine coat of arms ever since.\"|2a1=Kopka|2y=2011|2p=5|2ps=:
        \"The sun''s features are those of [[Inti]], the [[Inca]]n sun god. The sun
        commemorates the appearance of the sun through cloudy skies on 25 May 1810,
        during the first mass demonstration in favor of independence.\"}}|nolink=yes|paren=off}}<br
        />{{small|(Sun of May)}}\n|image_map = Argentina orthogonal.svg\n|map_width
        = 220px\n|map_caption = Argentina shown in dark green\n|capital = [[Buenos
        Aires]]\n|largest_city = capital\n|languages_type = Official language<br />{{nobold|and
        national language}} \n|languages = [[Spanish language|Spanish]]{{ref label|note-lang|a|}}\n|languages2_type
        = Regional languages\n|languages2 = \n{{nowrap|[[Guaran\u00ed language|Guaran\u00ed]]
        in [[Corrientes Province|Corrientes]];<ref name=gn/>}}\n[[Toba Qom language|Qom]],
        [[Mocov\u00ed language|Mocov\u00ed]] and [[Wich\u00ed language|Wichi]] in
        [[Chaco Province|Chaco]]<ref name=kom/>\n|demonym = {{unbulleted list\n  |[[Argentines|Argentine]]\n  |Argentinian\n  |{{nowrap|Argentinean
        {{small|(uncommon)}}}}\n }}\n|religion = {{ublist |item_style=white-space:nowrap;
        |74% [[Catholicism]] |15% Non-religious |8% [[Protestantism|Protestant]] |2%
        Other |1% Islam<ref name=pewreport2014>{{cite book|title=Religion in Latin
        America: Widespread Change in a Historically Catholic Region|date=13 November
        2014|publisher=Pew Research Center|pages=14, 162, 164|url=http://www.pewforum.org/files/2014/11/Religion-in-Latin-America-11-12-PM-full-PDF.pdf|accessdate=28
        July 2015|format=PDF}}</ref> }} \n|government_type = [[Federal republic|Federal]]
        [[Presidential system|presidential]] [[constitutional republic]]\n|leader_title1
        = [[President of Argentina|President]]\n|leader_name1 = [[Mauricio Macri]]\n|[...]
